.layout {
  main {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    margin-top: 50px;
    border-bottom: 1px solid #dddddd;

    .itemImage {
      margin-right: 65px;

      img {
        height: 530px;
        width: 800px;
      }
    }

    div.infoArea {
      height: 450px;
      width: 340px;

      h3 {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      div {
        display: flex;

        ul {
          li {
            font-size: 12px;
            margin-bottom: 20px;

            span {
              margin-right: 50px;
            }
          }

          .price {
            color: #008bcc;
            font-weight: 600;
          }
        }
      }
    }

    .packagingOptions {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      border-bottom: 1px solid #dddddd;
      padding-bottom: 5px;

      span {
        margin-right: 30px;
      }

      div {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;

          input {
            margin-top: -1px;
            vertical-align: middle;
          }
        }
      }
    }

    .productCount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 11px;
      margin-top: 10px;
      span:first-child {
        font-weight: 600;
        margin-bottom: 10px;
      }

      .productInfo {
        display: flex;
        flex-direction: column;
        width: 110px;
      }

      .amountSelect {
        align-items: center;

        div {
          display: flex;
          flex-direction: column;

          button {
            height: 25px;
            width: 25px;
            background-color: white;
            margin-bottom: 1px;
          }
        }
        button {
          // height: 25px;
          background-color: #c7b9b7;
          margin-left: 5px;
        }
      }
    }

    .totalProducts {
      display: flex;
      flex-direction: column;
      margin-top: 15px;

      span {
        font-size: 11px;
        font-weight: 700;
      }

      div {
        display: flex;
        flex-direction: column;

        margin: 40px 0;

        button {
          width: 340px;
          height: 60px;
          font-size: 11px;
          background-color: white;
        }

        .buyBtn {
          border: 2px solid black;
          background-color: white;
        }

        .buyBtn::before {
          content: 'BUY IT NOW';
          color: black;
        }

        .buyBtn:hover {
          animation-play-state: paused;
          background-color: black;
        }

        .buyBtn:hover::before {
          content: '바로 구매하기';
          color: white;
        }

        div {
          display: flex;
          flex-direction: row;
          margin-top: 5px;

          button {
            border: 1px solid #dddddd;
            margin-right: 1px;
          }

          .cartBtn {
            background-color: white;
          }

          .cartBtn::before {
            content: 'CART';
            color: black;
          }

          .cartBtn:hover {
            background-color: #dddddd;
          }

          .cartBtn:hover::before {
            content: '장바구니 담기';
            color: black;
          }

          .wishBtn {
            background-color: white;
          }

          .wishBtn::before {
            content: 'WISH';
            color: black;
          }

          .wishBtn:hover {
            animation-play-state: paused;
            background-color: #dddddd;
          }

          .wishBtn:hover::before {
            content: '관심상품 등록';
            color: black;
          }
        }
      }
    }
  }

  article {
    height: 4500px;
    width: 1200px;
  }
}
