@import 'styles/variables.scss';

.cart {
  .container {
    width: 1400px;
    margin: 0 auto;

    .titleArea {
      text-align: center;

      .title {
        font-size: 25px;
      }
    }

    .userInfoArea {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      padding: 25px 0;
      border-top: 1px solid $theme-border-lightgray;
      border-bottom: 1px solid $theme-border-lightgray;

      .mileage {
        display: flex;

        .item {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }

    .tabs {
      display: flex;
      margin-top: 55px;
      margin-bottom: 45px;
      border-bottom: 1px solid $theme-border-lightgray;

      .tabMenu {
        padding: 20px 80px;
        border-top: 1px solid $theme-border-lightgray;
        border-left: 1px solid $theme-border-lightgray;

        &:last-child {
          border-right: 1px solid $theme-border-lightgray;
        }

        .link {
          text-decoration: none;
          color: $theme-font-black;
        }
      }
    }

    .orderListArea {
      .orderTitle {
        padding: 15px 0;
        font-weight: 700;
      }
    }
  }
}
