@import 'styles/variables.scss';

.cartItem {
  td {
    vertical-align: middle;
    text-align: center;
  }

  .thumb {
    .thumbImage {
      width: 80px;
      height: 100px;
    }
  }

  .button {
    button {
      display: inline-block;
    }
  }
}
