@import 'styles/variables.scss';

.productItem {
  margin-bottom: 50px;

  &:not(:nth-child(4n)) {
    margin-right: 33px;
  }

  .img {
    width: 325px;
    height: 340px;
  }

  .info {
    .item {
      margin: 16px 0;

      .link {
        text-decoration: none;
        color: $theme-font-black;
      }

      .price {
        color: $theme-font-blue;
        font-weight: 700;
      }
    }
  }
}
