@import 'styles/variables.scss';

.footer {
  background-color: $theme-background-lightgray;
  margin-top: 90px;

  .inner {
    height: 265px;
    width: 1200px;
    padding: 50px 0 30px 0;
    margin: 0 auto;
    display: block;
    list-style: disc;
    list-style-position: outside;

    a {
      height: auto;
      width: auto;
      display: inline;
      text-decoration: none;
      color: $theme-font-black;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .guide {
      ul {
        height: 51px;
        width: 1200px;
        display: flex;
        flex-direction: row;
      }

      li {
        height: 21px;
        width: 36.05px;
        margin: 0 20px 0 0;
        padding: 0 0 30px 0;
        display: inline-block;
      }
    }
    .companyInfo,
    .callCenter {
      height: 70px;
      width: 400px;
      margin: 0 90px 0 0;
      display: inline-block;
      font-size: 14px;

      h3 {
        height: 20px;
        width: 580px;
        margin: 0 0 10px 0;
        display: block;
        font-weight: 600;
      }

      ul {
        height: 110px;
        width: 580px;
        float: left;
        display: block;
      }

      li {
        height: 20px;
        display: list-item;
      }

      span {
        height: 20px;
        display: inline-block;
        color: $theme-font-gray;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: left;
      }
    }

    .callCenter {
      span {
        width: 136px;
      }
    }

    .companyInfo {
      span {
        width: 80px;
      }
    }
  }
}
