@import '../../../styles/variables.scss';

.productItem {
  .imgContainer {
    max-width: 325px;

    .img {
      width: 100%;
    }
  }

  .info {
    margin-bottom: 60px;

    .item {
      margin: 16px 0;

      .link {
        text-decoration: none;
        color: $theme-font-black;
      }

      .price {
        color: $theme-font-blue;
        font-weight: 700;
      }
    }
  }
}
