@import '../../../styles/variables.scss';

.productList {
  .inner {
    width: 1400px;
    margin: 0 auto;

    .menu {
      display: flex;
      padding-top: 40px;
      padding-bottom: 50px;

      .halfBox {
        @include halfBox;
        color: $theme-font-lightgray;

        .leftBox {
          @include leftBox;

          .item {
            &:not(:first-child) {
              margin-left: 5px;
            }
          }

          .totalNum {
            color: $theme-font-black;
          }
        }

        .rightBox {
          @include rightBox;

          .item {
            &:hover {
              color: $theme-font-black;
              cursor: pointer;
            }

            &:not(:last-child) {
              margin-right: 15px;
            }
          }
        }
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
    }

    .paging {
      @include flexbox;

      .pagingBox {
        padding: 10px;
        border: 1px solid $theme-border-lightgray;

        .link {
          text-decoration: none;
        }
      }
    }
  }
}
