@import 'styles/variables.scss';

.productListItem {
  margin-bottom: 60px;

  &:not(:nth-child(4n)) {
    margin-right: 33px;
  }

  .imgContainer {
    width: 325px;
    border: 1px solid $theme-border-lightgray;

    .img {
      width: 100%;
    }
  }

  .info {
    .item {
      margin: 16px 0;

      .link {
        text-decoration: none;
        color: $theme-font-black;
      }

      .price {
        color: $theme-font-blue;
        font-weight: 700;
      }
    }
  }
}
