@import 'styles/variables.scss';

.slider {
  position: relative;
  overflow: hidden;

  .container {
    display: flex;
    width: 100%;
    padding-top: 30px;
    transition: transform 0.5s;
  }

  .leftBtn,
  .rightBtn {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid $theme-font-black;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    color: $theme-font-black;

    &:hover {
      border: 2px solid white;
      color: white;
      cursor: pointer;
    }
  }

  .leftBtn {
    left: 50px;

    .arrow {
      position: relative;
      right: 5px;
      top: 2px;
    }
  }

  .rightBtn {
    right: 50px;

    .arrow {
      position: relative;
      left: 5px;
      top: 2px;
    }
  }
}
